.sidebar {
  position: relative;

  width: var(--sidebar-width);

  height: calc(100dvh - var(--navbar-height));

  background-color: var(--inverted-bg-color);

  transition: width 0.3s ease-in-out;

  will-change: width;

  padding-block: 20px;
}

.switchers {
  position: absolute;
  bottom: 20px;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.collapsed {
  width: var(--collapsed-sidebar-width);

  .switchers {
    flex-direction: column;
  }

  .link-text {
    display: none;
  }
}

.toggle {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.navbar {
  width: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  list-style: none;
}

.icon {
  width: var(--font-line-l);
  height: var(--font-line-l);

  fill: var(--inverted-primary-color);
}

.nav-item {
  display: flex;
  gap: 10px;
  align-items: center;

  font: var(--font-l);
}
