.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: var(--navbar-height);

  background-color: var(--inverted-bg-color);
  padding-inline: 20px;
}

.navbar ul {
  display: flex;
  gap: 10px;

  list-style: none;
}
